:root {
  --purple: #763196;
  --button-hover: #944cb6;
  --field-background: #f0e6fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.header-item {
}

.header-item a {
  text-decoration: none;
  color: var(--purple);
}

.header-item p {
  margin-top: 0px;
}

#timer {
}

#start-container {
  max-width: 500px;
  margin: auto;
  padding: 0 40px;
}

.start-text {
  text-align: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 0 auto;
  color: #ffff;
  background-color: var(--purple);
  border-radius: 10%;
}

.button:hover {
  background-color: var(--button-hover);
}

/* Question Cards */
#question-text {
  text-align: center;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
}

/* High Scores Page */
#scores-container {
  max-width: 500px;
  margin: auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
